<?xml version="1.0" encoding="utf-8"?>
<CPackSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="0">
  <CPacks>
    <CPack Name="Sqx.Markers" Major="0" Minor="82" Build="0">
      <Files>
        <CPackFile Name="Sqx/Markers/init.sqx" CheckSum="nQ2D9MziIpdMPiYzyd75Pg==" />
        <CPackFile Name="Sqx/Markers/Marker.sqx" CheckSum="90YUL/biL6Nj9UhJSbi1cw==" />
        <CPackFile Name="Sqx/Markers/MarkerHelper.sqx" CheckSum="g9rRMc0HGBVxGFW/VlHp2w==" />
      </Files>
      <Dependencies />
      <InitLine>call compile preprocessFileLineNumbers "Sqx\Markers\Init.sqx.sqf";</InitLine>
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
    <CPack Name="Sqx.Collections.Sorter" Major="0" Minor="51" Build="0">
      <Files>
        <CPackFile Name="Sqx/Collections/IComparer.sqx" CheckSum="JwqhBeBxsdKqs9DYjXXMOA==" />
        <CPackFile Name="Sqx/Collections/Sorter.sqx" CheckSum="Z2qKtP6KNCNMaVcQlCu/8w==" />
      </Files>
      <Dependencies />
      <InitLine />
      <InitServerLine />
      <InitPlayerServerLine />
      <InitPlayerLocalLine />
    </CPack>
  </CPacks>
</CPackSettings>